/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

.flexslider {margin: 0; padding: 0;height:auto !important;}
.no-display {display:none !important;}
.flexslider section { -webkit-backface-visibility: hidden;}
.flexslider section.flex-active-slide {display:block !important;height:auto !important;}

.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}

.flexslider { margin: 0px; position: relative;zoom: 1; }
.flexslider .slides { zoom: 1; }
